<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{%extends 'base.html'%}
{%block content%}
<body >  
    <h1> {{name}}
            </h1>
    <form action = "add" method="POST">
        {%csrf_token%}
        Enter 1st number :<input type="text" name='num1'>
        <br>
        Enter 2nd number :<input type="text" name='num2'>
        <input type="submit">
    </form>
</body >
{%endblock%}
</html>